{% extends 'base.html.twig' %}
{% block nav %}{% endblock %}
{% block container %}
<div class="mbg">
{% endblock %}
{% block body %}
    <div class="row justify-content-center align-items-center" style="height:100vh; margin-right: 0;">
        <div>
            <div class="card">
                <div class="card-body">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <img src="{{ asset('IMG/logo.png') }}" alt="Beam Me Up Coffee" class="mx-auto d-block w-50"><br>
                <label for="inputEmail">username (email)</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       required autofocus>
                <label for="inputPassword">Password</label>
                <input  type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <div style="text-align: right">
                    <button class="btn btn-lg btn-success" type="submit" style="margin-top: 1em; width: 35%
">
                       login
                    </button>
                </div>
            </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}