body{
    color: deepskyblue;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
.navclr,.navclr:after, .navclr:active{
    color: deepskyblue !important;
}
.navclr:hover{
    color: #007bff!important;
}
.footerclr{
    color: deepskyblue !important;
}
.mbg{
    background-color: #f8ab43;
}
.slider {
    width: 50em;
    height: 30em;
}
.text-center {
    text-align: center;
}
html {
    position: relative;
    min-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.button{
    color: deepskyblue;
    outline:none;
    border: 1px solid #f8ab43;
    background-color: #f8f9fa;
    border-top-width: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
}
.button:hover{
    background-color: #ebedf0;
}

.lnk:hover{
    color: #007bff!important;
    text-decoration: none;
}