<form method="post" action="{{ path('selfie_delete', {'id': selfie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ selfie.id) }}">
    <button class="w-25 button">Delete</button>
</form>
