
{% form_theme form 'selfie/error.html.twig' %}
{{ form_start(form) }}
<br>
<div class="form-group">
{{ form_errors(form.photo) }}
<div class="custom-file">
{{ form_widget(form.photo, { 'attr': {'class': 'custom-file-input '}})}}
<label class="custom-file-label " for="selfie_photo">Select file</label>
</div>

<br>
{{ form_label(form.commentary) }}<br>
    {{ form_widget(form.commentary, { 'attr': {'class': 'form-control '}}) }}
<br>
{{ form_label(form.name_person) }}<br>
{{ form_widget(form.name_person, { 'attr': {'class': 'form-control '}}) }}
<br>
    <button class="btn btn-light form-control" style="border-color: #0a0a0a">{{ button_label|default('Save') }}</button>
</div>

{{ form_end(form) }}
