{% extends 'base.html.twig' %}

{% block title %}Edit Selfie{% endblock %}

{% block body %}
    <h1>Edit Selfie</h1>

    {{ include('selfie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('selfie_index') }}">back to list</a>

    {{ include('selfie/_delete_form.html.twig') }}
{% endblock %}
