{% extends 'base.html.twig' %}

{% block title %}Beam Me Up Coffee|New Selfie{% endblock %}
{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/file.css') }}">
{% endblock %}
{% block body %}
    <div class="center mx-auto mt-5 mb-5 text-justify w-25 p-2 ">
    <h1 style="text-align: center">Upload Selfie</h1>

    {{ include('selfie/_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    document.querySelector('.custom-file-input').addEventListener('change',function(e){
        var fileName = document.getElementById("selfie_photo").files[0].name;
        var nextSibling = e.target.nextElementSibling
        nextSibling.innerText = fileName
    })

</script>
{% endblock %}