<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Beam Me Up Coffee{% endblock %}</title>
    {% block favicon %}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('IMG/favicon.ico/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('IMG/favicon.ico/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('IMG/favicon.ico/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('IMG/favicon.ico/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('IMG/favicon.ico/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('IMG/favicon.ico/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('IMG/favicon.ico/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('IMG/favicon.ico/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('IMG/favicon.ico/apple-icon-152x152.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"
              href="{{ asset('IMG/favicon.ico/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('IMG/favicon.ico/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('IMG/favicon.ico/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('IMG/favicon.ico/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('IMG/favicon.ico/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('IMG/favicon.ico/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('CSS/Main.css') }}">
    {% endblock %}
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light mbg">
        <a class="navbar-brand" href="{{ path('index') }}">
            <img src="{{ asset('/IMG/logo.png') }}" width="60" height="60" alt="Beam Me Up Coffee" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link navclr" href="{{ path('index') }}">Homepage <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navclr" href="{{ path('guestbook') }}">Guestbook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navclr" href="{{ path('impression') }}">Impression</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link navclr" href="{{ path('view_selfie') }}">Selfies from customers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link navclr" href="{{ path('contact_location') }}">Contact/Locations</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block container %}
<div class="container" style="margin-bottom: 100px">
    {% endblock %}
    {% block body %}



    {% endblock %}
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
{% endblock %}
{% block footer %}
    <footer class="footer mbg">
            <span>
                <p class="pt-3">&copy;{{ "now"|date('Y') }} Beam Me Up Coffee</p>
            </span>
    </footer>
{% endblock footer %}
</body>
</html>
