{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="mt-4" style=" text-align: center">Contact/Locations</h1>
    <div class="mbg center mx-auto mt-3 mb-5 text-justify w-50 ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116389.72807736036!2d-106.1423993088043!3d32.772801951398336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e06118c1d2ecb5%3A0x561cbf6364fcf414!2sTularosa%2C%20New%20Mexico%2088352%2C%20Verenigde%20Staten!5e1!3m2!1snl!2snl!4v1590586232782!5m2!1snl!2snl"  height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="w-100"></iframe>
        <ul class="p-2" style="list-style-type: none;">
            <li>Beam Me Up Coffee White Sands National Park Plc. </li>
            <li>12 Dunes Drive</li>
            <li>White Sands NM</li>
            <li>88002</li>
            <li><br></li>
            <li><b>mail</b>:<a class="lnk ml-2 navclr" href="mailto:info@bmuc.white-sands.com">info@bmuc.white-sands.com</a></li>
            <li><b>tel</b>: <a class="lnk ml-3 navclr" href="tel:001 505 9012021">001 505 9012021</a></li>
        </ul>
    </div>
{% endblock %}