{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="mt-4" style=" text-align: center">Guestbook</h1>
    {% for guest in guests %}
        <div class="mbg center mx-auto mt-3 mb-5 text-justify w-50 p-2 ">
            <p class="mw-1" style="overflow: auto">
        {{ guest.commentary }}
            </p>
        </div>
    {% endfor %}
    <div class="mbg center mx-auto mt-5 mb-5 text-justify w-50 p-2 ">
        <form method="post" name="guestbook">
            <textarea name="comment" class="w-100 mh-25 " required></textarea>
            <br>
            <input class="btn btn-light" style="border-color: #0a0a0a" type="submit" name="submit">
        </form>

    </div>
{% endblock %}