{% extends 'base.html.twig' %}
{% block body %}
    <div class="mbg center mx-auto mt-5 mb-5 text-justify w-50 ">
        <div id="carouselExampleFade" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('IMG/trinity.jpg') }}" class="d-block slider mh-100 mw-100" alt="trinity">
                    <h2 style=" text-align: center">The place of the manhattan project</h2>
                    <p style=" padding: 2em ">
                        our Coffeehouses is close ad the Trintity Test Site the place of the nuclear age, can
                         visits  the site on the first Saturdays of April and October.
                        The rest of the year the site is closed to the public because it lies within the impact zone for missiles fired into the northern part of WSMR.
                    </p>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('IMG/coffee4.jpg') }}" class="d-block slider mh-100 mw-100" alt="Coffee">
                    <h2 style=" text-align: center">The best coffee</h2>
                    <p style=" padding: 2em ">
                        We serve it fresh and cool, in a way that you’ll never know that it has been roasted.
                        We believe people should be able to enjoy coffee wherever they are.
                        We are here to share our passion for coffee, and to offer high-quality coffee, with the world. We are here to help you enjoy your coffee.
                    </p>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('IMG/whitesands.jpg') }}" class="d-block slider mh-100 mw-100" alt="sands">
                    <h2 style=" text-align: center">Seeing Unique Animals</h2>
                    <p style=" padding: 2em ">
                        Rising from the heart of the Tularosa Basin is one of the world's great natural wonders - the glistening white sands of New Mexico.
                        Great wave-like dunes of gypsum sand have engulfed 275 square miles of desert, creating the world's largest gypsum dunefield.
                        White Sands National Park preserves a major portion of this unique dunefield, along with the plants and animals that live here.
                    </p>
                </div>
                </div>
            </div>
        </div>


{% endblock %}