{% extends 'base.html.twig' %}
{% block body %}
    <div class="mbg center mx-auto mt-5 mb-5 text-justify w-50 ">
    <div id="carouselExampleFade" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <img src="{{ asset('IMG/house.jpg') }}" class="d-block slider mh-100 mw-100" alt="house">
            </div>b
            <div class="carousel-item">
                <img src="{{ asset('IMG/exrt.jpg') }}" class="d-block slider mh-100 mw-100" alt="exrt">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('IMG/coffee2.jpg') }}" class="d-block slider mh-100 mw-100" alt="coffee">
            </div>
        </div>
    </div>
    <h2 style=" text-align: center">Welcome</h2>
    <p style=" padding: 2em ">
    We serve only the best coffee from around the world. Our coffee is carefully selected and carefully roasted by experienced baristas.
    We offer a range of services to suit the needs of every particular coffee-lovers. We serve delicious coffee in our own traditional way,
    and we care about the quality of the product we source and prepare.
    Our focus is on providing the most delicious and relaxing way to enjoy coffee with views of White Sands National Park.
    </p>
    </div>
{% endblock %}