{% extends 'base.html.twig' %}
{% block body %}

    <h1 class="mt-4" style=" text-align: center">Selfies from customers</h1>
    {% for selfie in selfies %}
        <div class="center mx-auto mt-3 text-justify w-50 ">
            <div class="border border-warning">
            <img src="{{ asset( selfie.photo) }}" class=" mx-auto w-100 d-block img-fluid">
            </div>
            <div class="mbg p-1">
            <p>
                {{ selfie.commentary }}

            </p>
            <p style="text-align: right;" class="mb-0">
            {{ selfie.namePerson }}
            </p>
        </div>
            {% if app.user is not null %}
            <div style="text-align: right">
                {{ include('selfie/_delete_form.html.twig') }}
            </div>
            {% endif %}
        </div>
    {% endfor %}

    <div class="center mx-auto mt-5 mb-5 text-justify w-25 p-2 ">
        <a class="btn btn-light w-100" style="border-color: #0a0a0a" href="{{ path('selfie_new') }}">Upload Selfie</a>
    </div>
{% endblock %}